{% extends "base.html" %}
{% block content %}
    <div class="form-content-section">
        <form method="POST">
            {% csrf_token %}
                <h2 style="text-align:center;">Login!</h2>
                {{form.as_p}}
            <div>
                <button class="form-button" type="submit">Login</button>
            </div>
        </form>
        <div>
            <small>
                Dont Have An Account? <a href="{% url 'register' %}">Sign Up</a>
            </small>
        </div>
    </div>
{% endblock %}