{% extends "base.html" %}
{% block content %}
<div class="form-content-section">
        <form method="POST">
            {% csrf_token %}
                <h2 style="text-align:center;">Join Now!</h2>
                {{form.as_p}}
            <div>
                <button  class="form-button"  type="submit">Sign Up</button>
            </div>
        </form>
        <div>
            <small>
                Already Have An Account? <a href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
</div>
{% endblock %}
