* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular'
    , 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
.modal {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    width: 1400px;
    height: 1400px;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    max-width: 80%;
    max-height: 80%;
    padding: 1rem 2rem;
    overflow: auto;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .modal {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.5);
    }
    .warning {
    display: none;
    }
}
body {
    background-image: url('https://resi.ze-robot.com/dl/4k/4k-desktop-wallpaper.-1920%C3%971200.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.myclass {
    width: 100%;
    border-radius: 15px;
    padding:10px;
    border: none;
    list-style: none;
}
.myclass:focus {outline: none;}
#buttun {visibility: hidden;}

hr.new1 {
    border: none;
    border-top: 1px solid rgba(34, 34, 34, 0.100);
}

.form-content-section {
    width:800px;
    background-color: #ededed;
    border-radius: 25px;
    padding:50px 20px;
}
.form-field {
    margin-top:5px;
    border-radius:10px;
    padding:10px;
    list-style: none;
    width:100%;
    outline:none;
    border:1px solid grey;
}
.form-button {
    width:100%;
    border-radius:5px;
    padding:8px;
    background-color:#0097a8;
    outline:none;
    border:1px solid #0097a8;
    cursor: pointer;
}
