{% load static %}
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    {% if title %}
    <title></title>
    {% else %}
    <title></title>
    {% endif %}
</head>
<body>
    <main role="main" class="container">
            {% block content %}{% endblock %}
    </main>
</body>
</html>