{% extends "base.html" %}
{% block content %}
<div class="container">
 <div class="modal">
   <form method="POST" >{% csrf_token %}
     {% for field in form %}
       {# {{ field.errors }} #}
       {{ field }}
     {% endfor %}
     <input type="submit" name="submit" id="buttun">
   </form>
   {% for i in todo %}
     {{i.todo}}
     <!--  done icon   -->
     <a href="{% url 'complete_task' i.id %}">
         <i style="float: right;color: rgb(89, 228, 77);"
            class="material-icons">&#xe86c;</i>
     </a>
    <!--  remove icon   -->
     <a href="{% url 'delete-task' i.id %}">
         <i style="float: right;color:rgb(204, 0, 61);margin-right:5px;"
            class="material-icons">&#xe15c;</i>
     </a>
     <br><hr class="new1">
   {% endfor %}
   <!-- completed tasks -->
   <h4>Done <a style="float: right;color: #333;text-decoration: none;"
               href="{% url 'delete-all' %}">Delete all</a></h4>
   {% for i in done %}
    <del>{{i.todo}}</del><a href="{% url 'undo' i.id %}">
     <i style="float: right;color: rgb(204, 0, 61);font-size: x;" class="material-icons">&#xe166;</i></a><br><hr class="new1">
   {% endfor %}
 </div>
</div>
{% endblock %}